node_modules
docker/postgres/data
docker/api-pcs/public/images/*
docker/api-pcs/public/factures/*
docker/api-pcs/public/receipts/*

!docker/api-pcs/public/images/.gitkeep
!docker/api-pcs/public/factures/.gitkeep
!docker/api-pcs/public/receipts/.gitkeep