[submodule "front-pcs"]
	path = front-pcs
	url = git@github.com:ccelenaa/front-pcs.git
[submodule "api-pcs"]
	path = api-pcs
	url = git@github.com:ccelenaa/api-pcs.git
[submodule "api-stripe"]
	path = api-stripe
	url = git@github.com:ccelenaa/api-stripe.git
[submodule "kube-pcs"]
	path = kube-pcs
	url = git@github.com:ccelenaa/kube-pcs.git
