[ req ]
  prompt             = no
  default_bits       = 4096
  distinguished_name = distinguished_name
  req_extensions     = req_extensions
  x509_extensions    = x509_extensions

[ distinguished_name ]
  countryName                     = FR
  stateOrProvinceName             = Ile-de-france
  localityName                    = Paris
  organizationName                = ESGI
  organizationalUnitName          = https://www.esgi.fr
  commonName                      = ESGI Global Server CA
  emailAddress                    = contact@esgi.fr

[ req_extensions ]
  basicConstraints = critical, CA:true
  keyUsage = critical, digitalSignature, keyCertSign, cRLSign
  subjectKeyIdentifier = hash
  authorityInfoAccess = OCSP;URI:http://ocsp.request.com/, caIssuers;URI:http://issuers.request/ca.html

[ x509_extensions ]
  basicConstraints = critical, CA:true
  keyUsage = critical, digitalSignature, keyCertSign, cRLSign
  subjectKeyIdentifier = hash
  authorityKeyIdentifier = keyid:always,issuer:always
  authorityInfoAccess = OCSP;URI:http://ocsp.x509.com/, caIssuers;URI:http://issuers.x509.com/ca.html
  crlDistributionPoints = URI:http://crl.x509.com/crl.pem

[ x509_extensions_override ]
  authorityKeyIdentifier = keyid:always,issuer:always
  authorityInfoAccess = OCSP;URI:http://ocsp.x509-override.com/, caIssuers;URI:http://issuers.x509-override.com/ca.html
  crlDistributionPoints = URI:http://crl.x509-override.com/crl.pem
